<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
    <title>Архив статей</title>
</head>
<body>
    <div class="header">
        <div class="post-title">
            {% if  request.user.is_authenticate %}
                <a href="http://127.0.0.1:8000/article/new/" target="_blank" >Создания новой статьи!</a><br>
                <a href="http://127.0.0.1:8000/user/auth/">Выйти из аккаунта</a><br>
            {% else %}
                <a href="http://127.0.0.1:8000/article/new/" target="_blank" >Создания новой статьи!</a><br>
                <a href="http://127.0.0.1:8000/user/registration/" target="_blank" >Регистрация</a><br>
                <a href="http://127.0.0.1:8000/user/auth/" target="_blank" >Авторизация</a><br>
            {% endif %}
        </div>
        <img src="{{ STATIC_URL }}static/img/cat.jpg" alt="Здесь должно быть изображние"/>
    </div>
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">
                <a target="_blank" href="http://127.0.0.1:8000/article/{{post.id}}">{{ post.title }}</a>
            </h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created- date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
        {% endfor %}                         
    </div>    
</body>
</html>